{% extends "blog/base.html" %}
{% block content %}
        <div class="menu-table">
            <table border="1">
                <tr>
                    <th class="tg"><p class="lead">Sermon</p></th>
                    <th class="tg"><a href="/blog"><p class="lead">Articles</p></a></th>
                    <th class="tg"><a href="/events/"><p class="lead">Events</p></a></th>
                </tr>
                <tr>
                    <th class="tgd" colspan="3"><p class="lead">Lead Resources</p></td>
                </tr>
            </table>
        </div>
    
        <br>
        
        <div class="content">
            <p class="lead">Lorem ipsum dolor sit amet, sed id consulatu euripidis voluptatibus, nisl aeterno viderer sit ne, solum tincidunt an mea. Quod iusto fabellas te sea. Invidunt accusata intellegat ius eu. Vim dictas melius omnium cu, cu vim sint sanctus. Mel fabulas dolores et, id est vivendo suavitate posidonium. Quo an nulla placerat mandamus, admodum omnesque officiis eam ei.</br>

 Utinam euripidis an his, ei eum elit iriure minimum. In nonumy postulant interpretaris vis, pro posidonium accommodare cu. At his dolorum oportere. Id omnis prodesset pro.</br>

 Quem dolorem an nam, clita malorum volumus ea vis. Quodsi adolescens honestatis qui id, recusabo efficiendi et nec. Possit imperdiet temporibus id vis, mea tation salutatus moderatius ea, his ne sint fabellas concludaturque. Solum tritani honestatis mel ex, no copiosae mandamus sea. Te pri quot fabellas incorrupte, vim ad vidit accusam, id volumus senserit elaboraret nec.

 Sea laudem inciderint ne, usu cu ferri ceteros. Eu nec insolens quaestio imperdiet, impedit commune eu mea. Nam ut brute praesent iracundia, nec et alii nostrud periculis. Facer tollit prompta in mei.</br>

 Mel no diam etiam accusamus, et vis postea eleifend. Mea ad eripuit propriae, vis discere equidem no, nam te nulla definiebas. Mea viris constituam at. Ea liber dissentias pro.</p>
        </div>
{% endblock %}