{% extends "blog/base.html" %}
{% block content %}
        <div class="container">
        <div class="content">
            {% if posts %}
            <h2>Blogs Found</h2>
            {% for post in posts %}
            <a href="/blog/{{post.id}}"><h3>{{post.title}}</h3></a>
            {% endfor %}
            {% else %}
            <div class="alert alert-danger">No Blogs Found</div>
            {% endif %}
            {% if events %}
            <h2>Events Found</h2>
            {% for event in events %}
            <a href="/event/{{event.id}}"><h3>{{event.name}}</h3></a>
            {% endfor %}
            {% else %}
            <div class="alert alert-danger">No Events Found</div>
            {% endif %}
        </div>
        </div>
{% endblock %}